

<footer id="pielogo">
	<div>
		<section class="sectionpie">
			<h1>Sitio Web</h1>
			<p><a href="/index">Index</a></p>
			<p><a href="/cursos">Cursos</a></p>
			<p><a href="/register">Registrate</a></p>
			<p><a href="/login">Accede</a></p>
		</section>
		<section class="sectionpie">
			<h1>Contacto</h1>
				<p>Envianos un e-mail: <a href="mailto:info@educatennis.com">info@educatennis.com</a></p>
				<p>Llamanos: <a href="tel:+34-638-857-257">+34 638-857-257</a></p>
		</section>
		<section class="sectionpie">
			<adress>Barcelona, España</adress>
			<small>&copy; Derechos Reservados 2018</small>
		</section>
		<div class="recuperar"></div>
	</div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/javascript/animations.js"></script>
</body>
</html>